# Relatorio de Analise V

## Tratamento de Dados Faltantes

In [24]:
import pandas as pd

In [25]:
dados = pd.read_csv("dados/aluguel_residenciais.csv", sep = ";")

In [26]:
dados.isnull() #ele cria um DataFrame e marca TRUE se o dado for nulo

        Tipo  Bairro  Quartos  Vagas  Suites   Area  Valor  Condominio   IPTU
0      False   False    False  False   False  False  False       False  False
1      False   False    False  False   False  False  False        True   True
2      False   False    False  False   False  False  False       False  False
3      False   False    False  False   False  False  False       False   True
4      False   False    False  False   False  False  False        True   True
5      False   False    False  False   False  False  False       False  False
6      False   False    False  False   False  False  False        True   True
7      False   False    False  False   False  False  False        True   True
8      False   False    False  False   False  False  False        True   True
9      False   False    False  False   False  False  False       False  False
10     False   False    False  False   False  False  False       False  False
11     False   False    False  False   False  False  False       False  False
12     False   False    False  False   False  False  False       False   True
13     False   False    False  False   False  False  False       False  False
14     False   False    False  False   False  False  False        True   True
15     False   False    False  False   False  False  False       False  False
16     False   False    False  False   False  False  False       False  False
17     False   False    False  False   False  False  False       False  False
18     False   False    False  False   False  False  False       False   True
19     False   False    False  False   False  False  False       False   True
20     False   False    False  False   False  False  False       False   True
21     False   False    False  False   False  False  False       False  False
22     False   False    False  False   False  False  False       False  False
23     False   False    False  False   False  False  False       False  False
24     False   False    False  False   False  False  False        True   True
25     False   False    False  False   False  False  False       False   True
26     False   False    False  False   False  False  False       False  False
27     False   False    False  False   False  False  False       False  False
28     False   False    False  False   False  False  False       False   True
29     False   False    False  False   False  False  False       False  False
...      ...     ...      ...    ...     ...    ...    ...         ...    ...
22550  False   False    False  False   False  False  False       False  False
22551  False   False    False  False   False  False  False       False  False
22552  False   False    False  False   False  False  False       False  False
22553  False   False    False  False   False  False  False       False  False
22554  False   False    False  False   False  False  False       False  False
22555  False   False    False  False   False  False  False       False   True
22556  False   False    False  False   False  False  False       False   True
22557  False   False    False  False   False  False  False       False  False
22558  False   False    False  False   False  False  False        True  False
22559  False   False    False  False   False  False  False       False  False
22560  False   False    False  False   False  False  False       False  False
22561  False   False    False  False   False  False  False       False  False
22562  False   False    False  False   False  False  False       False  False
22563  False   False    False  False   False  False  False       False  False
22564  False   False    False  False   False  False  False       False  False
22565  False   False    False  False   False  False  False       False  False
22566  False   False    False  False   False  False  False       False  False
22567  False   False    False  False   False  False  False       False  False
22568  False   False    False  False   False  False  False       False   True
22569  False   False    False  False   False  False  False       False  False
22570  False   False    False  False   False  False  False       False  False
22571  False   False    False  False   False  False  False       False  False
22572  False   False    False  False   False  False  False       False  False
22573  False   False    False  False   False  False  False       False   True
22574  False   False    False  False   False  False  False       False  False
22575  False   False    False  False   False  False  False       False  False
22576  False   False    False  False   False  False  False       False  False
22577  False   False    False  False   False  False  False       False  False
22578  False   False    False  False   False  False  False       False  False
22579  False   False    False  False   False  False  False       False   True

[22580 rows x 9 columns]

In [27]:
dados.notnull() #ele cria um DataFrame e marca FALSE se o dado for nulo

       Tipo  Bairro  Quartos  Vagas  Suites  Area  Valor  Condominio   IPTU
0      True    True     True   True    True  True   True        True   True
1      True    True     True   True    True  True   True       False  False
2      True    True     True   True    True  True   True        True   True
3      True    True     True   True    True  True   True        True  False
4      True    True     True   True    True  True   True       False  False
5      True    True     True   True    True  True   True        True   True
6      True    True     True   True    True  True   True       False  False
7      True    True     True   True    True  True   True       False  False
8      True    True     True   True    True  True   True       False  False
9      True    True     True   True    True  True   True        True   True
10     True    True     True   True    True  True   True        True   True
11     True    True     True   True    True  True   True        True   True
12     True    True     True   True    True  True   True        True  False
13     True    True     True   True    True  True   True        True   True
14     True    True     True   True    True  True   True       False  False
15     True    True     True   True    True  True   True        True   True
16     True    True     True   True    True  True   True        True   True
17     True    True     True   True    True  True   True        True   True
18     True    True     True   True    True  True   True        True  False
19     True    True     True   True    True  True   True        True  False
20     True    True     True   True    True  True   True        True  False
21     True    True     True   True    True  True   True        True   True
22     True    True     True   True    True  True   True        True   True
23     True    True     True   True    True  True   True        True   True
24     True    True     True   True    True  True   True       False  False
25     True    True     True   True    True  True   True        True  False
26     True    True     True   True    True  True   True        True   True
27     True    True     True   True    True  True   True        True   True
28     True    True     True   True    True  True   True        True  False
29     True    True     True   True    True  True   True        True   True
...     ...     ...      ...    ...     ...   ...    ...         ...    ...
22550  True    True     True   True    True  True   True        True   True
22551  True    True     True   True    True  True   True        True   True
22552  True    True     True   True    True  True   True        True   True
22553  True    True     True   True    True  True   True        True   True
22554  True    True     True   True    True  True   True        True   True
22555  True    True     True   True    True  True   True        True  False
22556  True    True     True   True    True  True   True        True  False
22557  True    True     True   True    True  True   True        True   True
22558  True    True     True   True    True  True   True       False   True
22559  True    True     True   True    True  True   True        True   True
22560  True    True     True   True    True  True   True        True   True
22561  True    True     True   True    True  True   True        True   True
22562  True    True     True   True    True  True   True        True   True
22563  True    True     True   True    True  True   True        True   True
22564  True    True     True   True    True  True   True        True   True
22565  True    True     True   True    True  True   True        True   True
22566  True    True     True   True    True  True   True        True   True
22567  True    True     True   True    True  True   True        True   True
22568  True    True     True   True    True  True   True        True  False
22569  True    True     True   True    True  True   True        True   True
22570  True    True     True   True    True  True   True        True   True
22571  True    True     True   True    True  True   True        True   True
22572  True    True     True   True    True  True   True        True   True
22573  True    True     True   True    True  True   True        True  False
22574  True    True     True   True    True  True   True        True   True
22575  True    True     True   True    True  True   True        True   True
22576  True    True     True   True    True  True   True        True   True
22577  True    True     True   True    True  True   True        True   True
22578  True    True     True   True    True  True   True        True   True
22579  True    True     True   True    True  True   True        True  False

[22580 rows x 9 columns]

In [28]:
dados.info() #usado para analizar quais colunas tem valores NULOS!!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22580 entries, 0 to 22579
Data columns (total 9 columns):
Tipo          22580 non-null object
Bairro        22580 non-null object
Quartos       22580 non-null int64
Vagas         22580 non-null int64
Suites        22580 non-null int64
Area          22580 non-null int64
Valor         22571 non-null float64
Condominio    20765 non-null float64
IPTU          15795 non-null float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.6+ MB

In [29]:
dados[dados["Valor"].isnull()] #ele pega todos os valores nulos da coluna "Valor"

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
58,Apartamento,Barra da Tijuca,2,1,1,70,NaN,970.0,68.0
1492,Apartamento,Leme,2,0,0,75,NaN,878.0,NaN
1683,Casa,Campo Grande,3,4,3,363,NaN,NaN,NaN
2012,Apartamento,Botafogo,2,0,0,95,NaN,1010.0,170.0
2034,Apartamento,Copacabana,2,0,0,72,NaN,850.0,NaN
4941,Casa,Campo Grande,3,2,1,100,NaN,NaN,NaN
8568,Apartamento,Leme,2,0,1,75,NaN,878.0,NaN
8947,Apartamento,Glória,3,0,1,135,NaN,910.0,228.0
9149,Apartamento,Gávea,3,1,1,105,NaN,880.0,221.0

In [30]:
dados[dados["IPTU"].isnull()] #ele pega todos os valores nulos da coluna "IPTU"

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
12,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,NaN
14,Casa de Condomínio,Taquara,3,1,1,115,2000.0,NaN,NaN
18,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,NaN
19,Apartamento,Olaria,3,1,0,68,1000.0,670.0,NaN
20,Apartamento,Tijuca,2,1,0,78,2000.0,700.0,NaN
24,Casa,Campo Grande,4,1,2,400,12000.0,NaN,NaN
25,Apartamento,Botafogo,2,1,0,76,2500.0,740.0,NaN
28,Apartamento,Recreio dos Bandeirantes,3,1,1,105,2300.0,648.0,NaN
35,Apartamento,Recreio dos Bandeirantes,2,2,2,90,3000.0,1340.0,NaN
36,Apartamento,Recreio dos Bandeirantes,3,2,2,100,2600.0,380.0,NaN
44,Casa de Condomínio,Barra da Tijuca,5,10,5,1600,25000.0,1600.0,NaN
54,Apartamento,Ipanema,3,2,1,150,8000.0,2400.0,NaN
56,Casa,Méier,2,0,0,51,1500.0,50.0,NaN
57,Apartamento,Jardim Botânico,2,2,0,95,4000.0,1170.0,NaN
61,Casa de Condomínio,Freguesia (Jacarepaguá),5,3,1,140,2500.0,1200.0,NaN
70,Apartamento,Bonsucesso,2,1,0,77,1500.0,740.0,NaN
73,Apartamento,Laranjeiras,2,1,0,54,2300.0,582.0,NaN
74,Quitinete,Centro,0,0,0,30,800.0,505.0,NaN
75,Apartamento,Jacarepaguá,2,1,1,69,2000.0,780.0,NaN
83,Apartamento,Praça Seca,2,0,0,80,1000.0,NaN,NaN
85,Casa de Vila,Piedade,2,1,0,70,1300.0,NaN,NaN
89,Apartamento,Olaria,2,1,0,53,1100.0,160.0,NaN
90,Quitinete,Copacabana,1,0,0,29,1200.0,460.0,NaN
93,Apartamento,Lagoa,3,1,2,250,13900.0,2500.0,NaN
...,...,...,...,...,...,...,...,...,...
22477,Apartamento,Jacarepaguá,3,1,1,63,1500.0,700.0,NaN
22479,Apartamento,Méier,3,0,0,79,1600.0,270.0,NaN
22482,Quitinete,Flamengo,1,0,0,23,900.0,605.0,NaN
22487,Apartamento,Parada de Lucas,2,1,0,55,900.0,140.0,NaN
22489,Apartamento,Barra da Tijuca,2,1,1,67,1600.0,750.0,NaN
22490,Apartamento,Copacabana,3,0,1,110,3000.0,900.0,NaN
22492,Apartamento,Campo Grande,2,1,1,90,1600.0,600.0,NaN
22496,Apartamento,Recreio dos Bandeirantes,1,1,1,79,1900.0,479.0,NaN
22501,Apartamento,Curicica,2,1,0,50,800.0,410.0,NaN
22502,Quitinete,Centro,1,0,0,24,1100.0,323.0,NaN
22503,Apartamento,Méier,2,1,0,64,1100.0,644.0,NaN
22505,Apartamento,Cascadura,2,1,1,56,1200.0,568.0,NaN
22510,Casa,Campo Grande,1,0,0,50,600.0,NaN,NaN
22513,Apartamento,Irajá,2,1,0,62,1000.0,300.0,NaN
22516,Casa de Vila,Pavuna,2,0,0,55,600.0,NaN,NaN
22519,Apartamento,Campo Grande,2,1,0,45,770.0,230.0,NaN
22523,Apartamento,Barra da Tijuca,4,3,4,366,12800.0,3157.0,NaN
22526,Apartamento,Recreio dos Bandeirantes,4,2,2,230,7000.0,1490.0,NaN
22529,Apartamento,Taquara,2,1,1,71,1300.0,470.0,NaN
22530,Apartamento,Irajá,2,1,0,50,900.0,300.0,NaN
22535,Casa,Recreio dos Bandeirantes,4,2,2,352,6500.0,NaN,NaN
22538,Apartamento,Recreio dos Bandeirantes,3,2,1,113,2100.0,611.0,NaN
22543,Apartamento,Olaria,2,0,0,67,1250.0,150.0,NaN
22547,Casa,Bento Ribeiro,2,1,0,60,1400.0,NaN,NaN
22548,Apartamento,Flamengo,1,0,0,48,2200.0,478.0,NaN
22555,Casa de Condomínio,Barra da Tijuca,3,5,3,1000,20000.0,3000.0,NaN
22556,Apartamento,Campinho,2,0,0,63,800.0,392.0,NaN
22568,Apartamento,Recreio dos Bandeirantes,3,2,1,88,1550.0,790.0,NaN
22573,Apartamento,Vila Valqueire,2,0,0,52,1000.0,550.0,NaN
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [31]:
dados[dados["Condominio"].isnull()] #ele pega todos os valores nulos da coluna "Condominio"

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
14,Casa de Condomínio,Taquara,3,1,1,115,2000.0,NaN,NaN
24,Casa,Campo Grande,4,1,2,400,12000.0,NaN,NaN
83,Apartamento,Praça Seca,2,0,0,80,1000.0,NaN,NaN
85,Casa de Vila,Piedade,2,1,0,70,1300.0,NaN,NaN
100,Casa,Maracanã,8,3,5,259,7000.0,NaN,NaN
104,Casa,Benfica,1,0,0,33,1200.0,NaN,NaN
117,Apartamento,Rocha Miranda,2,1,0,50,1100.0,NaN,NaN
133,Apartamento,Barra da Tijuca,1,1,1,65,2350.0,NaN,NaN
150,Casa,Jardim Carioca,3,2,1,135,3000.0,NaN,NaN
166,Casa,Lins de Vasconcelos,2,0,0,40,950.0,NaN,50.0
178,Apartamento,Cidade Nova,1,0,0,46,1000.0,NaN,NaN
184,Apartamento,Olaria,1,0,0,39,800.0,NaN,NaN
193,Apartamento,Leblon,3,0,1,85,8500.0,NaN,1719.0
205,Apartamento,Tomás Coelho,2,0,0,70,800.0,NaN,NaN
230,Casa de Vila,Oswaldo Cruz,1,0,1,40,800.0,NaN,NaN
248,Casa,Grajaú,5,4,2,450,7000.0,NaN,500.0
263,Casa,Campo Grande,3,0,0,200,2100.0,NaN,NaN
274,Casa,Bonsucesso,2,0,0,51,1000.0,NaN,NaN
276,Apartamento,Campo Grande,2,0,1,58,1000.0,NaN,NaN
297,Casa,Engenho Novo,2,0,0,70,1100.0,NaN,NaN
314,Casa de Vila,Quintino Bocaiúva,2,1,0,48,750.0,NaN,NaN
321,Casa,Jardim Botânico,2,4,1,107,9500.0,NaN,1091.0
327,Casa,Recreio dos Bandeirantes,4,4,2,367,12000.0,NaN,653.0
345,Casa,Botafogo,12,5,0,500,18000.0,NaN,1800.0
350,Casa,Catete,10,0,10,300,15000.0,NaN,220.0
...,...,...,...,...,...,...,...,...,...
22190,Casa,Irajá,2,1,1,60,1150.0,NaN,NaN
22192,Casa,Jardim Botânico,7,6,4,845,35000.0,NaN,NaN
22198,Casa,Turiaçu,2,1,0,45,700.0,NaN,NaN
22199,Apartamento,Riachuelo,2,0,0,43,900.0,NaN,16.0
22214,Apartamento,Copacabana,1,0,0,30,2600.0,NaN,NaN
22242,Apartamento,Anil,2,0,0,48,1070.0,NaN,NaN
22276,Apartamento,Campo Grande,1,0,0,40,480.0,NaN,NaN
22290,Casa,Campo Grande,2,0,0,116,1100.0,NaN,NaN
22293,Casa,Centro,2,0,0,207,4000.0,NaN,NaN
22303,Casa,Campo Grande,3,0,1,140,1500.0,NaN,NaN
22309,Apartamento,Campo Grande,3,0,0,52,900.0,NaN,NaN
22311,Casa,Taquara,3,3,0,280,4000.0,NaN,1200.0
22328,Apartamento,Copacabana,3,0,0,130,4600.0,NaN,NaN
22329,Casa,Rocha Miranda,1,0,0,44,700.0,NaN,NaN
22332,Casa,Andaraí,3,1,0,75,2950.0,NaN,NaN
22338,Casa de Vila,Quintino Bocaiúva,2,0,0,58,1000.0,NaN,NaN
22356,Apartamento,Guadalupe,1,0,0,40,550.0,NaN,NaN
22365,Casa,Engenho Novo,1,0,0,40,450.0,NaN,NaN
22373,Apartamento,Bonsucesso,1,0,0,60,1000.0,NaN,NaN
22403,Apartamento,Flamengo,2,0,0,59,3500.0,NaN,NaN
22420,Casa,Maracanã,4,2,1,240,6500.0,NaN,700.0
22425,Casa,Campo Grande,2,1,2,86,1500.0,NaN,NaN
22452,Casa,Vila da Penha,2,1,0,80,1500.0,NaN,NaN
22469,Casa de Vila,Riachuelo,3,0,0,73,850.0,NaN,NaN
22474,Apartamento,Cascadura,3,0,1,70,1200.0,NaN,NaN
22510,Casa,Campo Grande,1,0,0,50,600.0,NaN,NaN
22516,Casa de Vila,Pavuna,2,0,0,55,600.0,NaN,NaN
22535,Casa,Recreio dos Bandeirantes,4,2,2,352,6500.0,NaN,NaN
22547,Casa,Bento Ribeiro,2,1,0,60,1400.0,NaN,NaN
22558,Casa,Centro,5,0,1,160,5000.0,NaN,80.0

In [32]:
#Nos sabemos pelo dados.info() que existem 9 valores na coluna "Valor" que sao NaN
#
#para retirar esses 9 valores utilizamos o dropna() e informamos a coluna que gostaria de eliminar os valores NaN

A = dados.shape[0] #mostrando a quantidade de registros antes do DROPNA()

dados.dropna(subset = ["Valor"], inplace = True) #fazendo o drop

B = dados.shape[0]

A - B #Mostrando a diferenca entre antes e depois do DROPNA() na coluna VALOR

9

In [33]:
selecao = (dados["Tipo"] == "Apartamento") & (dados["Condominio"].isnull())

In [34]:
A = dados.shape[0] 

dados = dados[~selecao] #o TIO INVERTE A SELECAO (WOOOOW)

B = dados.shape[0]

A - B

745

In [35]:
dados.fillna({"Condominio": 0, "IPTU": 0}) #o FILLNA() substitui todos os valores NaN pelo valor que quiser!!

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0
10,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
11,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0
12,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,0.0
13,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0
14,Casa de Condomínio,Taquara,3,1,1,115,2000.0,0.0,0.0
15,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0
16,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0
17,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0
18,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,0.0
19,Apartamento,Olaria,3,1,0,68,1000.0,670.0,0.0
20,Apartamento,Tijuca,2,1,0,78,2000.0,700.0,0.0
21,Apartamento,Ipanema,3,1,1,125,7000.0,2100.0,463.0
22,Apartamento,Tijuca,1,0,0,48,750.0,772.0,25.0
23,Apartamento,Barra da Tijuca,3,3,1,175,4200.0,1500.0,500.0
24,Casa,Campo Grande,4,1,2,400,12000.0,0.0,0.0
25,Apartamento,Botafogo,2,1,0,76,2500.0,740.0,0.0
26,Apartamento,Copacabana,3,1,2,378,10000.0,2150.0,700.0
27,Apartamento,Copacabana,3,0,0,180,5500.0,1780.0,420.0
28,Apartamento,Recreio dos Bandeirantes,3,1,1,105,2300.0,648.0,0.0
29,Apartamento,Leblon,3,1,0,110,3900.0,1500.0,120.0
30,Quitinete,Copacabana,1,0,0,27,1300.0,380.0,53.0
31,Apartamento,Jardim Oceânico,3,3,1,200,3500.0,1780.0,496.0
...,...,...,...,...,...,...,...,...,...
22550,Apartamento,Ipanema,1,0,0,55,2000.0,630.0,19.0
22551,Apartamento,Recreio dos Bandeirantes,3,2,1,100,2500.0,650.0,1864.0
22552,Apartamento,Jardim Botânico,3,1,2,145,5000.0,1296.0,317.0
22553,Apartamento,Recreio dos Bandeirantes,3,2,1,115,2000.0,482.0,166.0
22554,Apartamento,Barra da Tijuca,1,1,0,62,1700.0,945.0,180.0
22555,Casa de Condomínio,Barra da Tijuca,3,5,3,1000,20000.0,3000.0,0.0
22556,Apartamento,Campinho,2,0,0,63,800.0,392.0,0.0
22557,Apartamento,Freguesia (Jacarepaguá),2,1,0,60,500.0,900.0,148.0
22558,Casa,Centro,5,0,1,160,5000.0,0.0,80.0
22559,Apartamento,Todos os Santos,3,0,0,54,1500.0,289.0,35.0
22560,Apartamento,Recreio dos Bandeirantes,2,1,1,105,2100.0,648.0,156.0
22561,Apartamento,Jacarepaguá,2,1,1,78,2200.0,790.0,180.0
22562,Apartamento,Leblon,1,1,1,50,4300.0,1730.0,259.0
22563,Apartamento,Copacabana,2,0,1,70,4100.0,700.0,90.0
22564,Apartamento,Copacabana,1,0,0,50,1950.0,450.0,70.0
22565,Apartamento,Barra da Tijuca,2,1,1,85,2250.0,1561.0,197.0
22566,Apartamento,Barra da Tijuca,3,2,0,98,2300.0,887.0,177.0
22567,Apartamento,Barra da Tijuca,3,2,2,140,5500.0,1900.0,700.0
22568,Apartamento,Recreio dos Bandeirantes,3,2,1,88,1550.0,790.0,0.0
22569,Quitinete,Copacabana,1,0,0,22,1500.0,286.0,200.0
22570,Apartamento,Leblon,3,0,1,80,3000.0,1010.0,249.0
22571,Apartamento,Ipanema,3,1,2,150,15000.0,1400.0,600.0
22572,Apartamento,Tijuca,1,0,0,28,1000.0,360.0,25.0
22573,Apartamento,Vila Valqueire,2,0,0,52,1000.0,550.0,0.0
22574,Casa de Condomínio,Barra da Tijuca,5,3,4,450,15000.0,1711.0,2332.0
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0

In [36]:
dados.to_csv("dados/aluguel_residenciais.csv", sep = ";", index = False)